@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,
blockquote {
	quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

* {
	box-sizing: border-box
}

body {
	background-color: #F3F3F3;
	font-family: "Hind", "Lato", sans-serif;
	-webkit-font-smoothing: antialiased
}

.main-container {
	margin: 20px auto 40px;
	max-width: 1000px
}

.main-container:after {
	clear: both;
	content: "";
	height: 0;
	visibility: hidden;
	display: block
}

.light-container {
	animation: fadein both 0.5s;
	background: #fff;
	color: #3A4750;
	padding: 50px 80px 30px
}

a.link {
	border-bottom: 1px solid rgba(58, 71, 80, 0.4);
	color: #3A4750;
	text-decoration: none;
	transition: 100ms
}

a.link.light {
	border-bottom-color: rgba(243, 243, 243, 0.4);
	color: #F3F3F3
}

a.button {
	background-color: rgba(33, 133, 213, 0.8);
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	padding: 10px 10px;
	text-decoration: none;
	transition: 100ms
}

a.button:hover {
	background-color: #2185D5
}

.clearfix {
	clear: both
}

@keyframes fadein {
	from {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-moz-transform: translateY(20px);
		-ms-transform: translateY(20px);
		-o-transform: translateY(20px);
		transform: translateY(20px)
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px)
	}
}

@media (max-width: 1000px) {
	body {
		padding: 10px
	}
	.main-container {
		margin: 0 auto
	}
	.light-container {
		margin: 0 auto
	}
}

@media (max-width: 850px) {
	.light-container {
		padding-left: 40px;
		padding-right: 40px
	}
}

@media (max-width: 650px) {
	.light-container {
		padding-left: 25px;
		padding-right: 25px
	}
}

.homepage-box {
	animation: fadein 0.5s both;
	margin-bottom: 20px;
	padding: 30px;
	position: relative
}

.cover-container {
	background-color: #3A4750;
	height: 470px;
	padding: 5px;
	position: relative;
	-webkit-user-select: none
}

.cover-container .title-container {
	top: 80px;
	padding-left: 80px;
	position: absolute
}

.cover-container .title-container .name {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 10px
}

.cover-container .title-container .tagline {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 50px
}

.cover-container .title-container .description {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 40px;
	max-width: 500px
}

.cover-container .title-container a {
	display: inline-block;
	line-height: 1.3
}

.cover-container .title-container a:hover {
	border-bottom-color: #F3F3F3
}

.cover-container .nav-container {
	right: 80px;
	position: absolute;
	top: 85px
}

.cover-container .nav-item {
	display: inline-block;
	font-size: 18px;
	margin: 0 7px
}

.cover-container .nav-item .link {
	border: 2px solid transparent;
	font-weight: 600;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-ms-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms
}

.cover-container .nav-item .link:hover {
	border-bottom-color: rgba(255, 255, 255, 0.2)
}

.cover-container .nav-item .link.active {
	border-bottom-color: rgba(255, 255, 255, 0.6)
}

.cover-container .work-popover-target {
	cursor: pointer
}

.work-popover-hover-container {
	display: none;
	opacity: 0;
	padding: 20px;
	padding-top: 0;
	position: absolute;
	right: -20px;
	top: 40px;
	transition: 200ms
}

.work-popover-hover-container:before {
	content: '';
	cursor: pointer;
	height: 50px;
	position: absolute;
	top: -50px;
	right: 10px;
	width: 75px
}

.work-popover-hover-container.popover-show {
	display: block;
	opacity: 1
}

.work-popover-container {
	background: #F3F3F3;
	border-radius: 3px;
	box-shadow: 0 1px 10px #3A4750;
	padding: 10px 0;
	width: 100px
}

.work-popover-container:before {
	background: #F3F3F3;
	content: '';
	height: 10px;
	position: absolute;
	top: -5px;
	right: 45px;
	width: 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.work-popover-container .work-item {
	padding: 8px 15px;
	transition: 100ms
}

.work-popover-container .work-item:hover {
	background: rgba(58, 71, 80, 0.1)
}

.about-link {
	margin-bottom: 20px
}

.social-container .social-title {
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	margin-bottom: 15px
}

.social-container .icon-container a {
	text-decoration: none
}

.social-container .icon-container .icon {
	margin-right: 25px;
	opacity: 0.7;
	-webkit-transition: 100ms;
	-moz-transition: 100ms;
	-ms-transition: 100ms;
	-o-transition: 100ms;
	transition: 100ms
}

.social-container .icon-container .icon img {
	height: 25px
}

.social-container .icon-container .icon:hover {
	opacity: 1
}

.title-container {
	color: #F3F3F3
}

.featured-project {
	animation: fadein 0.5s both 0.1s;
	background: url("../../images/home/gradescope-background.png");
	height: 300px;
	overflow: hidden;
	position: relative
}

.featured-project .project-title {
	top: 50px;
	left: 60px;
	position: absolute
}

.featured-project .project-type {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	margin-bottom: 7px
}

.featured-project .project-name {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px
}

.featured-project .project-description {
	color: #fff;
	line-height: 1.4;
	max-width: 370px
}

.featured-project .button {
	background: transparent;
	border: 1px solid #F3F3F3;
	color: #F3F3F3;
	font-size: 13px;
	margin-top: 20px
}

.featured-project .button:hover {
	background: rgba(243, 243, 243, 0.2)
}

.featured-project .featured-photo {
	bottom: -5px;
	box-shadow: 1px 1px 20px rgba(58, 71, 80, 0.4);
	position: absolute;
	right: 80px;
	width: 420px
}

.featured-project .featured-photo img {
	height: 100%;
	width: 100%
}

.project-col {
	float: left;
	width: 50%
}

.project-col:nth-of-type(1) .project {
	animation: fadein 0.5s both .05s
}

.project-col:nth-of-type(2) .project {
	animation: fadein 0.5s both .1s
}

.project-col:nth-of-type(3) .project {
	animation: fadein 0.5s both .15s
}

.project-col:nth-of-type(4) .project {
	animation: fadein 0.5s both .2s
}

.project-col:nth-of-type(5) .project {
	animation: fadein 0.5s both .25s
}

.project-col:nth-of-type(6) .project {
	animation: fadein 0.5s both .3s
}

.project-col:nth-of-type(7) .project {
	animation: fadein 0.5s both .35s
}

.project-col:nth-of-type(8) .project {
	animation: fadein 0.5s both .4s
}

.project-col:nth-of-type(odd) {
	padding-right: 10px
}

.project-col:nth-of-type(even) {
	padding-left: 10px
}

.project {
	background-color: #8FACC0;
	cursor: pointer;
	height: 250px;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-transition: 250ms;
	-moz-transition: 250ms;
	-ms-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms
}

.project .project-title {
	bottom: 0px;
	padding: 0 50px;
	position: absolute;
	z-index: 1;
	-webkit-transition: 250ms;
	-moz-transition: 250ms;
	-ms-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px)
}

.project .project-type {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	margin-bottom: 7px
}

.project .project-name {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 15px
}

.project .project-description {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	line-height: 1.3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 250ms;
	-moz-transition: 250ms;
	-ms-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms
}

.project .button {
	right: 50px;
	opacity: 0;
	position: absolute;
	top: 13px;
	visibility: hidden;
	-webkit-transition: 150ms;
	-moz-transition: 150ms;
	-ms-transition: 150ms;
	-o-transition: 150ms;
	transition: 150ms
}

.project-image {
	height: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms
}

.project-image img {
	height: 100%;
	object-fit: cover;
	width: 100%
}

.hover-overlay {
	background-color: #3A4750;
	height: 160px;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms
}

.contact-container {
	animation: fadein 0.5s both 0.45s;
	background-color: #3A4750;
	padding: 50px
}

.contact-container .social-container {
	float: right
}

.contact-container .icon-container .icon img {
	height: 20px
}

.contact-title {
	color: #F3F3F3;
	display: inline-block;
	font-size: 22px;
	font-weight: 400
}

@media (min-width: 970px) {
	.project:hover .project-title {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	.project:hover .project-image {
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		transform: translateY(-100px)
	}
	.project:hover .hover-overlay {
		-webkit-transform: translateY(-160px);
		-moz-transform: translateY(-160px);
		-ms-transform: translateY(-160px);
		-o-transform: translateY(-160px);
		transform: translateY(-160px)
	}
	.project:hover .project-description {
		opacity: 1;
		visibility: visible
	}
	.project:hover .button {
		opacity: 1;
		visibility: visible
	}
}

@media (max-width: 970px) {
	.cover-container {
		margin-bottom: 10px;
		padding: 0
	}
	.cover-container .title-container {
		padding: 30px;
		padding-top: 15px;
		top: 50px;
		width: 100%
	}
	.featured-project {
		height: auto;
		margin-bottom: 10px;
		padding-bottom: 0
	}
	.featured-project .title-container {
		left: 0;
		position: relative;
		top: 0
	}
	.featured-project .project-description {
		max-width: 600px
	}
	.featured-project .featured-photo {
		margin: 0 auto;
		margin-top: 40px;
		position: relative;
		right: 0;
		width: 90%
	}
	.project-col:nth-of-type(odd) {
		padding-right: 5px
	}
	.project-col:nth-of-type(even) {
		padding-left: 5px
	}
	.project {
		height: 200px;
		margin-bottom: 10px
	}
	.project .project-title {
		bottom: 30px;
		padding-left: 25px
	}
	.project .project-description {
		display: none
	}
	.project .button {
		display: none
	}
	.contact-container {
		margin-bottom: 0px;
		padding: 40px 30px;
		text-align: center
	}
	.contact-container .social-container {
		float: none
	}
	.contact-container .icon-container {
		display: inline-block
	}
	.contact-title {
		font-size: 18px;
		margin-bottom: 20px
	}
}

@media (max-width: 600px) {
	.nav-container {
		display: none
	}
	.title-container .social-container .icon-container .icon {
		margin-right: 15px
	}
	.project-col {
		float: none;
		width: 100%
	}
	.project-col:nth-of-type(odd) {
		padding-right: 0
	}
	.project-col:nth-of-type(even) {
		padding-left: 0
	}
}

.title-back-link {
	border-bottom: 1px solid transparent;
	color: rgba(58, 71, 80, 0.8);
	display: inline-block;
	margin-bottom: 30px;
	padding-left: 4px;
	padding-bottom: 2px;
	text-decoration: none;
	transition: 100ms
}

.title-back-link:hover {
	border-bottom-color: rgba(58, 71, 80, 0.4)
}

.title-back-link:hover .fa {
	-webkit-transform: translateX(-3px);
	-moz-transform: translateX(-3px);
	-ms-transform: translateX(-3px);
	-o-transform: translateX(-3px);
	transform: translateX(-3px)
}

.title-back-link .fa {
	margin-right: 5px;
	transition: 100ms
}

.about-title {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px
}

.about-subtitle {
	color: rgba(58, 71, 80, 0.6);
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 70px
}

.paragraph-container {
	margin-bottom: 60px
}

.paragraph-container:last-of-type {
	margin-bottom: 0
}

.paragraph-label-container {
	float: left;
	width: 200px
}

.paragraph-label-container .paragraph-label {
	color: #3A4750;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.2
}

.paragraph-text-container {
	margin-left: 200px;
	margin-bottom: 40px;
	width: calc(100% - 200px)
}

.paragraph-text-container .paragraph-text {
	color: rgba(58, 71, 80, 0.8);
	font-size: 17px;
	line-height: 1.7;
	margin-bottom: 23px
}

.paragraph-text-container .resume-entry {
	line-height: 1.5;
	margin-bottom: 4px
}

.paragraph-text-container .resume-entry-title {
	color: #3A4750;
	display: inline-block;
	font-weight: 600;
	margin-right: 10px
}

.paragraph-text-container .resume-entry-position {
	display: inline-block
}

.paragraph-text-container a {
	border-bottom: 1px solid rgba(58, 71, 80, 0.2);
	color: #3A4750;
	display: inline-block;
	height: 25px;
	font-weight: 500;
	text-decoration: none;
	transition: 100ms
}

.paragraph-text-container a:hover {
	border-bottom-color: rgba(58, 71, 80, 0.6)
}

.course-header {
	font-size: 17px;
	margin: 15px 0
}

.resume-courses {
	display: flex;
	flex-flow: row wrap;
	max-width: 500px
}

.resume-courses .course-title {
	color: #3A4750;
	font-weight: 600;
	margin-right: 8px
}

.resume-courses li {
	margin-bottom: 9px;
	width: 50%
}

.resume-list {
	line-height: 1.5;
	margin-bottom: 20px
}

.resume-list .resume-list-item {
	margin-bottom: 4px
}

.skills-container {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	-ms-column-gap: 20px;
	-o-column-gap: 20px;
	column-gap: 20px
}

.skills-container>div {
	display: inline-block
}

.entry-list {
	list-style: square inside
}

@media (max-width: 1000px) {
	.about-container {
		margin: 0 auto
	}
}

@media (max-width: 850px) {
	.about-container {
		padding-left: 40px;
		padding-right: 40px
	}
}

@media (max-width: 650px) {
	.light-container {
		max-width: 500px
	}
	.paragraph-container {
		margin-bottom: 40px
	}
	.paragraph-label-container {
		float: none;
		margin-bottom: 20px;
		width: 100%
	}
	.paragraph-label {
		border-bottom: 2px solid rgba(58, 71, 80, 0.6);
		display: inline-block;
		line-height: 1;
		position: relative
	}
	.paragraph-text-container {
		margin-left: 0;
		width: 100%
	}
	.resume-courses li {
		width: 100%
	}
	.skills-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		-ms-column-gap: 0;
		-o-column-gap: 0;
		column-gap: 0
	}
	.skills-container>div {
		display: block
	}
}

.my-work-title {
	margin-bottom: 70px;
	position: relative
}

.work-nav {
	margin-bottom: 0;
	position: absolute;
	right: 0;
	top: 10px
}

.work-nav a {
	border-bottom: 1px solid transparent;
	color: inherit;
	text-decoration: none;
	transition: 150ms
}

.work-nav a.active {
	color: rgba(58, 71, 80, 0.8);
	font-weight: 600
}

.work-nav a:hover {
	border-bottom-color: rgba(58, 71, 80, 0.6)
}

.work-nav .separator {
	background-color: rgba(58, 71, 80, 0.4);
	border-radius: 50%;
	display: inline-block;
	height: 5px;
	margin: 0 5px;
	vertical-align: middle;
	width: 5px
}

.section-container {
	margin-bottom: 90px
}

.section-container .section-title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 25px
}

.photos-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between
}

.photos-container .photo {
	background: rgba(58, 71, 80, 0.6);
	height: 150px;
	margin: 10px 0;
	width: 150px
}

.photos-container .photo img {
	height: 100%;
	width: 100%;
	object-fit: cover
}